.img-link:hover .photo {
  height: 80%;
}

.img-link:hover .img-description {
  transform: scaleY(1);
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  transform: scale(0.4);
  opacity: 0.1;
  margin: 20px 0;
  height: 500px;
  max-height: 90vh;
}

.photo {
  width: 100%;
  height: 90%;
  display: inline-flex;
  object-fit: cover;
  transition: height 0.5s cubic-bezier(0.65, 0.24, 0.35, 1.1);
}
.hide-image {
  visibility: 0;
  transform: scale(0);
}

.caption {
  flex-grow: 1;
  bottom: 0;
  height: 10%;
  background-color: var(--primary-color, #282c34);
  color: #fdfdfd;
  padding: 10px;
  font-size: 12px;
}

.img-description {
  transform: scaleY(0);
  transition: transform 0.5s cubic-bezier(0.65, 0.24, 0.35, 1.1);
}

@keyframes boom {
  0% {
    transform: scale(0.6) translateY(3.2rem);
    opacity: 0.3;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.grow {
  animation-name: boom;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
